<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.ucai.fulicenter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".FuLiCenterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.SlpashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.GoodsDetailsActivity" />
        <activity
            android:name=".Activity.BaseActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.BoutiqueChildActivity" />
        <activity
            android:name=".Activity.CategoryChildActivity"
            android:label="@string/title_activity_category_child"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>